START_URL='начальный URL, ссылка на страницу степика, с которой нужно начать выполнять задания'
API_KEY='api ключ с сайта io.net, смотри инструкцию в README.md'
CHROME_PROFILE_PATH='C:\Users\<Имя твоего профиля>\AppData\Local\Google\Chrome\User Data\SeleniumProfile'